[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = release/7.1
[submodule "libaom"]
	path = libaom
	url = https://aomedia.googlesource.com/aom
[submodule "libmp3lame"]
	path = libmp3lame
	url = https://github.com/rbrito/lame.git
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "x264"]
	path = x264
	url = https://code.videolan.org/videolan/x264.git
	branch = stable
[submodule "x265"]
	path = x265
	url = https://bitbucket.org/multicoreware/x265_git.git
	branch = Release_4.1
